.carousel {
    width: 50%;
    height: auto;
    margin: auto;
    padding-bottom: 2%;
}

@media (max-width: 900px) {
    .carousel {
        width: auto;
        height: auto;
    }
}

/* .carousel-caption {
    position: absolute;
    bottom: -60px;
} */

.carousel-item {
    /* width: auto; */
    max-width: 100%;
    /* height: auto; */
}